# Configurações do Banco de Dados
DB_HOST=db
DB_PORT=5432
DB_USER=isp_user
DB_PASSWORD=isp_password_super_secreta
DB_NAME=isptransfer

# Configurações do Backend Go
PORT=8080
JWT_SECRET=sua_chave_secreta_jwt_super_longa_aqui
UPLOAD_DIR=/app/uploads
